
<div style="text-align:center">
    <form action="/questions/create" method="post" enctype="multipart/form-data">
        </br>
      <div style="margin : 10px">
          <label for="name">제목 : </label><input type="text" name="input_name" placeholder="#NCS #영어작문"></input>
        </div>
            <div>
                 <label for="classify">분류 :</label> 
                    <div class="btn-group" role="group" aria-label="Basic example" name="classify" style="margin : 20px">
                        <button type="button" class="btn btn-primary">영어번역</button>
                        <button type="button" class="btn btn-secondary">빵판</button>
                        <button type="button" class="btn btn-success">검토코딩</button>
                        <button type="button" class="btn btn-info">족보풀이</button>
                        <button type="button" class="btn btn-warning">NCS</button>
                    </div>
            </div>
                    <div>
                         <Label for="pic">이미지 선택  </Label><input type="file" id="picture" name="pic" accept="image/*">
                    </div>
        </br>
        
          <div id="preview" style ="width=400; height=300;" >
              <img id="imagePreview" src="#" alt="Preview upload images">
          </div>
          
        </br>
        <div>
        <textarea rows="4" cols="80" name="input_content" placeholder"내용입력하세요!"> </textarea>
        </div>
        </br>
        <div>
           <input type="submit" value="제출하기"></input>
        </div>
    </form>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
function readUploadImage( inputObject ) {
	if ( window.File && window.FileReader ) {
		if ( inputObject.files && inputObject.files[0]) {
			if ( !(/image/i).test(inputObject.files[0].type ) ){
				alert("이미지 파일을 선택해 주세요!");
				return false;
			}
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#imagePreview').attr('src', e.target.result);
			}
			reader.readAsDataURL(inputObject.files[0]);
		}
	} else {
		alert( "미리보기 안되요.~ 브라우저를 업그레이드하세요~");
	}
}
$("#picture").change(function(){
    readUploadImage(this);
});
</script>

